/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/popup.scss */
body {
  min-height: 500px;
  width: 600px;
  background-image: url("../images/bg.gif");
}

/* line 16, ../sass/popup.scss */
#bar {
  height: 50px;
  background: #F7F6F6;
}

/* line 21, ../sass/popup.scss */
.msg {
  font-size: 12px;
  color: #888888;
  display: inline-block;
  width: 220px;
  max-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 29, ../sass/popup.scss */
.u {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

/* line 34, ../sass/popup.scss */
.block {
  width: 260px;
  padding: 3px;
}

/* line 42, ../sass/popup.scss */
.status {
  border: 1px solid red;
}

/* line 45, ../sass/popup.scss */
.oneStatus {
  display: inline-block;
  margin: 2px 0px;
}
/* line 48, ../sass/popup.scss */
.oneStatus .text {
  vertical-align: middle;
  display: inline-block;
  width: 220px;
  padding-left: 5px;
}
/* line 54, ../sass/popup.scss */
.oneStatus .name {
  font-size: 10px;
  color: #3A3A3A;
}
/* line 58, ../sass/popup.scss */
.oneStatus:hover {
  background: rgba(255, 255, 255, 0.9);
  color: rgba(10, 10, 10, 0.9);
}
/* line 62, ../sass/popup.scss */
.oneStatus a {
  text-decoration: none;
  color: #888888;
}

/* line 72, ../sass/popup.scss */
.photo {
  border: 1px solid green;
}

/* line 75, ../sass/popup.scss */
.onePhoto {
  display: inline-block;
}
/* line 77, ../sass/popup.scss */
.onePhoto .p {
  max-width: 120px;
  max-height: 120px;
  vertical-align: middle;
  margin: 2px 3px;
}
/* line 83, ../sass/popup.scss */
.onePhoto .info {
  width: 120px;
  vertical-align: middle;
  text-align: center;
  padding: 3px 5px;
}
/* line 88, ../sass/popup.scss */
.onePhoto .info .cap {
  color: rgba(30, 30, 30, 0.9);
}
/* line 91, ../sass/popup.scss */
.onePhoto .info .des {
  color: #464646;
}
/* line 94, ../sass/popup.scss */
.onePhoto .info .time {
  color: rgba(40, 40, 40, 0.7);
  font-size: 4px;
  text-decoration: none;
}
/* line 100, ../sass/popup.scss */
.onePhoto .info .pmsg {
  width: 120px;
  max-height: 50px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 2px 1px;
  font-size: 9px;
}
/* line 108, ../sass/popup.scss */
.onePhoto .info a {
  text-decoration: none;
}
/* line 111, ../sass/popup.scss */
.onePhoto .info .u {
  color: rgba(30, 30, 30, 0.9);
  font-size: 6px;
  text-decoration: none;
}

/* line 119, ../sass/popup.scss */
.link {
  border: 1px solid orange;
}

/* line 122, ../sass/popup.scss */
.video {
  border: 1px solid blue;
}

/* line 125, ../sass/popup.scss */
.checkin {
  border: 1px solid yellow;
}
