/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/popup.scss */
body {
  height: 500px;
  width: 564px;
  background-image: url("../images/bg.gif");
  font-family: 'Belgrano', serif;
}

/* line 16, ../sass/popup.scss */
#bar {
  height: 32px;
  background: rgba(197, 221, 255, 0.7);
  width: 564px;
  padding-bottom: 9px;
}
/* line 21, ../sass/popup.scss */
#bar span {
  font-size: 20px;
  margin: 8px 10px;
  display: inline-block;
  color: #3D7798;
  text-shadow: 0px 1px 2px white;
  font-family: 'Belgrano', serif;
}
/* line 29, ../sass/popup.scss */
#bar #loading {
  float: left;
}
/* line 32, ../sass/popup.scss */
#bar #loading img {
  margin: 73px 128px;
  height: 301px;
}

/* line 39, ../sass/popup.scss */
#search {
  background: #5BB2E2;
  color: #ABE0FE;
  border-radius: 10px;
}

/* line 45, ../sass/popup.scss */
#searchform {
  display: inline-block;
}

/* line 49, ../sass/popup.scss */
.all {
  width: 500px;
  overflow-x: auto;
  display: block;
}

/* line 54, ../sass/popup.scss */
.type {
  vertical-align: top;
  display: none;
  margin: 3px 0px;
  margin-left: 3px;
}
/* line 59, ../sass/popup.scss */
.type .title {
  width: 263px;
  padding: 2px;
  padding-left: 3px;
}

/* line 65, ../sass/popup.scss */
.appear {
  display: inline-block;
}

/* line 68, ../sass/popup.scss */
body .msg {
  font-size: 12px;
  color: #3A3A3A;
  display: inline-block;
  width: 220px;
  max-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-family: serif;
}

/* line 77, ../sass/popup.scss */
.u {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

/* line 82, ../sass/popup.scss */
.block {
  width: 260px;
  padding: 3px;
}

/* line 87, ../sass/popup.scss */
body .time {
  color: rgba(80, 80, 80, 0.6);
  font-size: 1px;
  text-decoration: none;
  float: right;
  right: 5px;
  position: relative;
  font-family: serif;
}

/* line 101, ../sass/popup.scss */
.status {
  border: 1px solid #FE8D8D;
}

/* line 104, ../sass/popup.scss */
.oneStatus {
  display: inline-block;
  margin: 2px 0px;
}
/* line 107, ../sass/popup.scss */
.oneStatus .text {
  vertical-align: middle;
  display: inline-block;
  width: 220px;
  padding-left: 5px;
}
/* line 113, ../sass/popup.scss */
.oneStatus .name {
  font-size: 10px;
  color: #888888;
}
/* line 117, ../sass/popup.scss */
.oneStatus:hover {
  background: rgba(255, 255, 255, 0.9);
  color: rgba(10, 10, 10, 0.9);
}
/* line 121, ../sass/popup.scss */
.oneStatus a {
  text-decoration: none;
  color: #888888;
}

/* line 132, ../sass/popup.scss */
.onePhoto, .oneLink {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
/* line 136, ../sass/popup.scss */
.onePhoto .p, .oneLink .p {
  max-width: 120px;
  max-height: 120px;
  margin: 2px 3px;
  vertical-align: middle;
}
/* line 142, ../sass/popup.scss */
.onePhoto .info, .oneLink .info {
  width: 120px;
  vertical-align: middle;
  text-align: center;
  padding: 3px 5px;
}
/* line 147, ../sass/popup.scss */
.onePhoto .info .pmsg, .oneLink .info .pmsg {
  max-width: 120px;
  max-height: 50px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 2px 1px;
  font-size: 9px;
  color: #2B2A2A;
}
/* line 156, ../sass/popup.scss */
.onePhoto .info .cap, .oneLink .info .cap {
  color: rgba(80, 80, 80, 0.9);
}
/* line 159, ../sass/popup.scss */
.onePhoto .info .des, .oneLink .info .des {
  color: #858585;
}
/* line 162, ../sass/popup.scss */
.onePhoto .info .lname, .oneLink .info .lname {
  color: #656464;
}
/* line 165, ../sass/popup.scss */
.onePhoto .info a, .oneLink .info a {
  text-decoration: none;
}
/* line 168, ../sass/popup.scss */
.onePhoto .info .u, .oneLink .info .u {
  color: #888888;
  font-size: 6px;
  text-decoration: none;
}
/* line 173, ../sass/popup.scss */
.onePhoto .info .ldes, .oneLink .info .ldes {
  color: #B5B5B5;
}
/* line 177, ../sass/popup.scss */
.onePhoto:hover, .oneLink:hover {
  background: rgba(255, 255, 255, 0.9);
  color: rgba(10, 10, 10, 0.9);
}

/* line 183, ../sass/popup.scss */
.photo {
  border: 1px solid #FFEE00;
}

/* line 186, ../sass/popup.scss */
.link {
  border: 1px solid #9ED797;
}

/* line 189, ../sass/popup.scss */
.video {
  border: 1px solid #D5D2F0;
}
/* line 191, ../sass/popup.scss */
.video .u {
  margin: 2px;
}

/* line 195, ../sass/popup.scss */
.checkin {
  border: 1px solid #FEFD6C;
}
