/*
Syntax error: wrong number of arguments (4 for 3) for `rgb'
        on line 95 of /home/mrorz/workspace/facelink/extension/sass/popup.scss

Backtrace:
/home/mrorz/workspace/facelink/extension/sass/popup.scss:95
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/script/funcall.rb:97:in `rescue in _perform'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/script/funcall.rb:76:in `_perform'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/script/node.rb:40:in `perform'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:216:in `visit_prop'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `block in compile'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `block in run'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/commands/update_project.rb:45:in `perform'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-compass-0.0.6/lib/guard/compass.rb:47:in `run_on_change'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:387:in `block in run_supervised_task'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:385:in `catch'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:385:in `run_supervised_task'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:341:in `run_on_change_task'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:279:in `block (2 levels) in run_on_change'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:319:in `block (3 levels) in run_on_guards'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:318:in `each'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:318:in `block (2 levels) in run_on_guards'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:317:in `catch'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:317:in `block in run_on_guards'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:316:in `each'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:316:in `run_on_guards'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:278:in `block in run_on_change'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:295:in `block in run'
<internal:prelude>:10:in `synchronize'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:292:in `run'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard.rb:277:in `run_on_change'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard/listener.rb:89:in `block (2 levels) in start_reactor'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard/listener.rb:85:in `loop'
/home/mrorz/.rvm/gems/ruby-1.9.2-p290/gems/guard-1.0.1/lib/guard/listener.rb:85:in `block in start_reactor'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: wrong number of arguments (4 for 3) for `rgb'\A         on line 95 of /home/mrorz/workspace/facelink/extension/sass/popup.scss"; }
