.faceloook-marker{
  position: absolute;
  right: 40px;
  top: 0;
  font-size: 18px;
  cursor: pointer;
}

.faceloook-interested, .faceloook-uninterested{
  position: relative !important;
}

.faceloook-interested {
  .faceloook-marker{
    color: #cc0;
  }
}

.faceloook-uninterested {
  .faceloook-marker{
    color: transparent;
    -webkit-text-stroke: 1px #ccc;
    &:hover{
      -webkit-text-stroke: 1px #999;
    }
  }
}
